@import "tailwindcss";

:root {
  --background: #e1e1e1;
  --white: #f1f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-white: var(--white);
  --font-telma: "Telma", sans-serif;
  --font-clash-display: "ClashDisplay", sans-serif;
  --shadow-back: 0 0 15px -3px rgba(0, 0, 0, 0.5);
  --drop-shadow-solid: -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.5);
}

@utility corner-squircle {
  corner-shape: squircle;
  border-corner-shape: squircle;
}

@utility section {
  @apply corner-squircle relative h-[calc(100dvh-2rem)] rounded-[50px] bg-cover bg-center p-4 md:h-[calc(100dvh-3rem)] lg:h-[calc(100dvh-4rem)];
}

@keyframes resize {
  to {
    width: 150dvw;
    height: 150dvh;
    border-radius: 0px;
  }
}

@keyframes hide {
  to {
    opacity: 0;
    display: none;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
  }
}

#loading {
  animation:
    3s resize ease-in-out forwards,
    0s hide 3s forwards;
}

.glass {
  @apply overflow-hidden border border-white/30 bg-black/10 backdrop-blur-[3px];
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 14px 7px rgba(255, 255, 255, 0.2);

  &::before {
    @apply absolute top-0 left-0 h-px w-full bg-[linear-gradient(90deg,transparent,rgba(255,255,255,0.2),transparent)] content-[""];
  }

  &::after {
    @apply absolute top-0 left-0 h-full w-px bg-[linear-gradient(180deg,rgba(255,255,255,0.2),transparent,rgba(255,255,255,0.3))] content-[""];
  }
}
